<%= render 'layouts/header' %>

<body>

<div class="container" style="text-align:center;">
  <h2>CONTACTO</h2>
</div>
<br>

<div class="container">
  <div class="card text-white bg-dark mb-3 text-center">
    <div class="card-body">
      <h3>CORREO ELECTRÓNICO</h3>
      <h4>info@tespresso.com</h4>
    </div>
  </div>

  <div class="card text-white bg-dark mb-3 text-center">
    <div class="card-body">
      <h3>REDES SOCIALES</h3>
      <a href"#"><i class="fab fa-facebook-square fa-3x"></i></a>&nbsp;&nbsp;&nbsp;<a href"#"><i class="fab fa-twitter-square fa-3x"></i></a>&nbsp;&nbsp;&nbsp;<a href"#"><i class="fab fa-instagram fa-3x"></i></a>
      &nbsp;&nbsp;&nbsp;<a href"#"><i class="fab fa-youtube-square fa-3x"></i></a>
    </div>
  </div>

</div>

<%= render 'layouts/footer' %>

</body>
