<br><br><br><br><br>
<div class="footer" style="background-color:Black;color:White;">
  <br>
  <div class="container">

    <!-- Fila -->
    <div class="row">
      <div class="col col-md-4 text-left">
        SCE 17/18 - URV - <a class="link-footer" href="/"> Tespresso.com</a>
      </div>

      <div class="col col-md-4">
        <a href="/"><img src="/assets/logoTespresso.png" style="width:50px;height:50px"></a>
      </div>

      <div class="col col-md-4 text-right">
        <a class="link-footer" href="/categories/1">CÁPSULAS</a> | <a class="link-footer" href="/categories/2">MÁQUINAS</a> | <a class="link-footer" href="/categories/3">ACCESORIOS</a>
        <br>
        <a class="link-footer" href="/">HOME</a> | <a class="link-footer" href="/legal">AVISO LEGAL</a> | <a class="link-footer" href="/legal">CONTACTO</a>
      </div>

    </div>
    <!-- /Fila -->
  </div>
  <div class="container py-3"></div>
  <!-- /div container -->
</div>
<!-- Footer -->

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

<%= yield %>
