<br><br>
<footer style="background-color:Black;color:White;">
  <br>
  <div class="container">

    <!-- Fila -->
    <div class="row">

      <!-- Columna 1 -->
      <!--<div class="col-md-6 mt-md-0 mt-3">

        <h5 class="text-uppercase">Productos</h5>
        <ul class="list-unstyled">
          <li>
            <a class="link-footer" href="/categories/1">Cápsulas</a>
          </li>
          <li>
            <a class="link-footer" href="/categories/2">Máquinas</a>
          </li>
          <li>
            <a class="link-footer" href="/categories/3">Accesorios</a>
          </li>
        </ul>
      </div>
      <!-- /Columna 1 -->

    <!--  <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Columna 2 -->
      <!--<div class="col-md-6 mb-md-0 mb-3">

        <!-- Links -->
        <!--<h5 class="text-uppercase">Tespresso</h5>
        <ul class="list-unstyled">
          <li>
            <a class="link-footer" href="/">Home</a>
          </li>
          <li>
            <a class="link-footer" href="/legal">Aviso legal</a>
          </li>
        </ul>
      </div>
      <!-- /Columna 2 -->
      <div class="col-md-6 mt-md-0 mt-3">
        SCE 17/18 - URV - <a class="link-footer" href="/"> Tespresso.com</a>
      </div>

      <div class="col-md-6 mt-md-0 mt-3" style="text-align:right">
        <a class="link-footer" href="/categories/1">CÁPSULAS</a> | <a class="link-footer" href="/categories/2">MÁQUINAS</a> | <a class="link-footer" href="/categories/3">ACCESORIOS</a>
        <br>
        <a class="link-footer" href="/">HOME</a> | <a class="link-footer" href="/legal">AVISO LEGAL</a>
      </div>

    </div>
    <!-- /Fila -->
  </div>
  <br>
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a>
    </div>
</footer>
<!-- Footer -->

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

<%= yield %>
