<%= render 'layouts/header' %>

<body>
  <div class="container" style="text-align:center;">
    <h2>Confirmar compra</h2>

    <div class="row">
      <div class="col col-lg-4">
      </div>
        <div class="col col-lg-4 card">
          <div class="card-body">
            <div class="card-body center" style="background-color:Grey;">
              A continuación va a proceder al pago de su pedido el cual tiene un precio total de <b><%= @total %> €</b>
            </div>
          <hr style="background-color:Black;">
          <b>Métodos de pago:</b>
          <br><br>
          <div class="btn btn-secondary" id="paypal-button-container" value="<%= @order.id %>"></div>

        </div>
      </div>
      <div class="col col-lg-4">
      </div>
    </div> <!-- div row -->
  </div>

    <%= render 'layouts/footer' %>
  </div>
</body>

<!-- SCRIPT PAYPAL BUTTON -->
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script>
  paypal.Button.render({
    env: 'sandbox', // sandbox | production
    // Show the buyer a 'Pay Now' button in the checkout flow
    commit: true,
    // payment() is called when the button is clicked
    payment: function() {
      // Set up a url on your server to create the payment
    var value = document.getElementById('paypal-button-container').getAttribute('value');
    var CREATE_URL = '/createpayment/' + value;
      // Make a call to your server to set up the payment
      return paypal.request.post(CREATE_URL)
        .then(function(res) {
            console.log("Result: "+res.paymentID);
            return res.paymentID;
          });
    },
    // onAuthorize() is called when the buyer approves the payment
    onAuthorize: function(data, actions) {
      // Set up a url on your server to execute the payment
      var value = document.getElementById('paypal-button-container').getAttribute('value');
      var EXECUTE_URL = '/executepayment';
      var RETURN_URL = '/completed/' + value;
      // Set up the data you need to pass to your server
      var data = {
          paymentID: data.paymentID,
          payerID: data.payerID
      };
    // Make a call to your server to execute the payment
    return paypal.request.post(EXECUTE_URL, data)
      .then(function (res) {
        window.alert('Pago completado!');
        window.location.replace(RETURN_URL);
      });
    }
  }, '#paypal-button-container');
</script>
<!--------------------------->
